.aboutUs {
  min-height: 100vh;
}
.aboutusimage {
  display: block;
  margin: auto;
  width: 85%;
}
.aboutUsContainer {
  margin-top: 5rem;
}
.aboutustext {
    display: flex;
    align-items: center;
  p {
    font-size: 2rem;
    text-align: justify;
    
  }
}
