.overlayForContent {
  width: 100%;
  height: auto;
  position: relative;
}

.ContentContainer {
  width: 95%;
  height: auto;
  margin-left: 5rem;
  margin-top: 6rem;
}

.ContentContainer h1 {
  color: #095fe9;
  font-size: 6rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.ContentContainer p {
  font-size: 2rem;
  color: white;
  margin-top: 5rem;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.ImageContainer img {
  height: 40rem;
  width: 40rem;
}

.svgAnimation {
  -webkit-animation-name: svgAnimation;
          animation-name: svgAnimation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes svgAnimation {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes svgAnimation {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.TechnologyContainer {
  margin-top: 10rem;
  margin-left: 5rem;
  color: #095fe9;
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.IconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  color: white;
  font-size: 7rem;
  margin: 0px 2rem;
}

@media only screen and (max-width: 1290px) {
  .ContentContainer h1 {
    font-size: 4rem;
  }
  .ContentContainer p {
    font-size: 1.8rem;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 1213px) {
  .ImageContainer img {
    height: 30rem;
    width: 30rem;
  }
  .technology h1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 990px) and (min-width: 770px) {
  .ContentContainer h1 {
    font-size: 2.5rem;
  }
  .ContentContainer p {
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  .ImageContainer img {
    height: 25rem;
    width: 25rem;
  }
  .technology h1 {
    font-size: 13px;
  }
  .icons {
    font-size: 5rem;
    margin: 0px 1rem;
  }
}

@media only screen and (max-width: 770px) {
  .ContentContainer {
    margin: auto;
  }
  .ContentContainer h1 {
    font-size: 2.5rem;
  }
  .ContentContainer p {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .ImageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ImageContainer img {
    display: block;
  }
  .technology h1 {
    font-size: 15px;
  }
  .icons {
    font-size: 3rem;
    margin: 0px 1rem;
  }
  .buttonContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  .ImageContainer img {
    height: 15rem;
    width: 30rem;
    padding-right: 4rem;
  }
  .TechnologyContainer {
    margin-top: 0%;
    padding: 1rem 0;
    margin-left: 0%;
  }
  .technology h1 {
    font-size: 17px;
    padding: 1rem;
    margin: auto;
  }
  .ContentContainer p {
    margin-top: 0;
    text-align: justify;
  }
  .IconContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=content.module.css.map */