$overlay-color: rgba(10, 10, 10, 0.3);
$text-color: white;
$blue-color: #095fe9;
.overlayForContent {
  width: 100%;
  height: auto;
  position: relative;
}
.ContentContainer {
  width: 95%;
  height: auto;
  margin-left: 5rem;
  margin-top: 6rem;
  h1 {
    color: $blue-color;
    font-size: 6rem;
    font-weight: bolder;
    margin-bottom: 2rem;
  }
  p {
    font-size: 2rem;
    color: $text-color;
    margin-top: 5rem;
  }
}
.buttonContainer {
  display: flex;
  margin-top: 3rem;
}
.ImageContainer {
  img {
    height: 40rem;
    width: 40rem;
  }
}
.svgAnimation {
  animation-name: svgAnimation;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes svgAnimation {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.TechnologyContainer {
  margin-top: 10rem;
  margin-left: 5rem;
  color: $blue-color;
}
.technology {
  display: flex;
  align-items: center;
}
.IconContainer {
  display: flex;
  align-items: center;
}
.icons {
  color: $text-color;
  font-size: 7rem;
  margin: 0px 2rem;
}

// FOR RESPONSIVE DESIGN
@media only screen and (max-width: 1290px) {
  .ContentContainer {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.8rem;
      margin-top: 4rem;
    }
  }
}

@media only screen and (max-width: 1213px) {
  .ImageContainer {
    img {
      height: 30rem;
      width: 30rem;
    }
  }
  .technology {
    h1 {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 990px) and (min-width: 770px) {
  .ContentContainer {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.3rem;
      margin-top: 3rem;
    }
  }
  .ImageContainer {
    img {
      height: 25rem;
      width: 25rem;
    }
  }
  .technology {
    h1 {
      font-size: 13px;
    }
  }
  .icons {
    font-size: 5rem;
    margin: 0px 1rem;
  }
}

@media only screen and (max-width: 770px) {
  .ContentContainer {
    margin: auto;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 2rem;
      margin-top: 3rem;
    }
  }
  .ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
    }
  }
  .technology {
    h1 {
      font-size: 15px;
    }
  }
  .icons {
    font-size: 3rem;
    margin: 0px 1rem;
  }
  .buttonContainer {
    justify-content: center;
    margin-top: 0;
  }
  .ImageContainer {
    img {
      height: 15rem;
      width: 30rem;
      padding-right: 4rem;
    }
  }
  .TechnologyContainer {
    margin-top: 0%;
    padding: 1rem 0;
    margin-left: 0%;
  }
  .technology {
    h1 {
      font-size: 17px;
      padding: 1rem;
      margin: auto;
    }
  }
  .ContentContainer {
    p {
      margin-top: 0;
      text-align: justify;
    }
  }
  .IconContainer {
    justify-content: center;
  }
}
