$blue-color: #095fe9;
@import "../../MyScssMixins/VerticalnHorizontalCenter.scss";

.sectionContainers {
  min-height: 100vh;
  display: flex;
  align-items: center;
  .column1 {
    @include VerticalnHorizontalCenter;
  }
}

.mainHeadings {
  text-align: center;
  padding: 3rem;
  h1 {
    font-size: 3rem;
    color: $blue-color;
    font-weight: bolder;
  }
  h2 {
    font-size: 4rem;
  }
}
