@import "../../MyScssMixins/VerticalnHorizontalCenter.scss";

// THIS CSS IS USED INSIDE SECTION 1 , SECTION 2 , SECTION 3
.sectionContainers {
  min-height: 100vh;
  display: flex;
  align-items: center;
  .column1 {
    @include VerticalnHorizontalCenter;
  }
}