$blue-color: #095fe9;
$text-color: white;
.myButton {
  button {
    background-color: $blue-color;
    border: none;
    padding: 1rem 3rem;
    color: $text-color;
    font-size: 2rem;
    font-weight: bold;
    margin: 1.5rem;
    border-radius: 2rem;
  }
  button:focus {
    outline: none;
  }
}

@media only screen and (max-width: 650px) {
  .myButton {
    button {
      padding: 1rem 2rem;
      color: $text-color;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 1.5rem;
      border-radius: 1.5rem;
    }
  }
}