// VARIABLES
$navlink-color: white !important;
$companyname-color: #095fe9;

.MainContainer {
  height: 13%;
}
.companyName {
  font-size: 30px;
  color: $companyname-color;
  font-weight: bolder;
}
.navlink {
  font-size: 2rem;
  color: $navlink-color;
}
.navlink::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: $companyname-color;
  transition: all 0.5s ease;
}
.navlink:hover::after {
  width: 100%;
}